<section class="bg-half bg-light d-table w-100" id="home" style="max-width:100%;">
	<div class="container" *ngIf="lote">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
			<div class="page-next-level">
				<h4 class="title">LOTE {{ lote.numero }}: {{ lote.nombre }} </h4>
				<!--inio pruebas-->
				<div class="botones-seccion">
					<div class="boton-enPista">
						<a  (click)="reAqui()" class="btn btn-primary" id="botones">Ir a Lote en Pista</a>
					</div>
					<div class="botones-siguientes">
						<button (click)="navegarAnterior()" class="btn-lote">
						<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 512 512" class="icon"><style>svg{fill:#ffffff}</style><path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM217.4 376.9L117.5 269.8c-3.5-3.8-5.5-8.7-5.5-13.8s2-10.1 5.5-13.8l99.9-107.1c4.2-4.5 10.1-7.1 16.3-7.1c12.3 0 22.3 10 22.3 22.3l0 57.7 96 0c17.7 0 32 14.3 32 32l0 32c0 17.7-14.3 32-32 32l-96 0 0 57.7c0 12.3-10 22.3-22.3 22.3c-6.2 0-12.1-2.6-16.3-7.1z"/></svg>
						Lote Anterior
						</button>
                        			<button (click)="navegarSiguiente()"  class="btn-lote">Lote Siguiente
						<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 512 512" class="icon"><style>svg{fill:#ffffff}</style><path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1l99.9 107.1c3.5 3.8 5.5 8.7 5.5 13.8s-2 10.1-5.5 13.8L294.6 376.9c-4.2 4.5-10.1 7.1-16.3 7.1C266 384 256 374 256 361.7l0-57.7-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-57.7c0-12.3 10-22.3 22.3-22.3c6.2 0 12.1 2.6 16.3 7.1z"/></svg>
						</button>
					</div>
					
				</div>
                               <a *ngIf="pla()" >Da clic en el botón para ir al  siguiente lote e pista</a>
				
			</div>
			</div>
		</div>
	</div>
</section>
<div class="position-relative">
	<div class="shape overflow-hidden text-white">
		<svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
		</svg>
	</div>
</div>
<section class="section">
	<div class="container" *ngIf="lote">
		<div class="row">
			<div class="col-md-5">
				<button *ngIf="checkIsInPista()" (click)="pujaAqui()" class="btn btn-primary btn-block">PUJA AQUI</button>
				<span class="badge badge-warning" style="display:flex; width:200px; justify-content:center;" >{{ lastSubasta && lastSubasta.activo ? lastSubasta.estatus : 'Sin Subasta Activa' }}</span> 
				<div class="slider slider-for">
					<a>
						<app-image-viewer [imageURL]="lote.archivoPortada.Location" [open]="viewerOpenPortada" (close)="viewerOpenPortada = false"></app-image-viewer>
						<img [src]="lote.archivoPortada.Location" (click)="viewerOpenPortada = true" id="expandedImg" class="img-fluid rounded" alt="">
					</a>
				</div>
				<div class="slider slider-nav mt-2 d-flex">
					<div *ngFor="let img of lote.lotesFotos; let i = index">
						<app-image-viewer [imageURL]="img.archivoFoto.Location" [open]="viewerOpen[i]" (close)="viewerOpen[i] = false"></app-image-viewer>
						<img [src]="img.archivoFoto.Location" (click)="viewerOpen[i] = true" class="img-fluid" alt=""
						style="width: 150px;">
					</div>
				</div>
			</div>
			<div class="col-md-7 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<div class="section-title ml-md-4">
					<ul class="list-unstyled text-warning h5 mb-0">
					</ul>
					                                 <!-- IMAGENES CATALAGO Y VIDEO-->
           <div class="row mt-4 pt-2" id="imagenesch" style="display: grid; grid-template-columns: repeat(2, 1fr);">
                <img (click)="openPdf()"   src="https://subastabucket.s3.us-east-2.amazonaws.com/Varios/cat.png" alt="" style="width: 100%; margin-bottom: 10px; cursor: pointer;" >
                     <img (click)="openVideo()" src="https://subastabucket.s3.us-east-2.amazonaws.com/Varios/video.png" alt="" style="width: 100%; margin-bottom: 10px; cursor: pointer;">

                                        </div>
					<!--ARBOL GENEALÓGICO CONFIGURABLE-->
					<div class="arbol" style="max-width:100%;">
						<div class="arbol-nodo">
							<div class="arbol-padres">
								<p> <span class="badge badge-pill badge0">{{ lote.padre }}</span></p>
							</div>
							<br />
							<div class="arbol-padres">
								<p><span class="badge badge-pill badge0">{{ lote.madre }}</span></p>
							</div>
						</div>
						<div class="arbol-nodo">
							<div class="arbol-abuelos">
								<p><span class="badge badge-pill">{{ lote.abueloPaterno }}</span></p>
							</div>
							<div class="arbol-abuelos">
								<p><span class="badge badge-pill">{{ lote.abuelaPaterna }}</span></p>
							</div>
							<br />
							<div class="arbol-abuelos">
								<p><span class="badge badge-pill">{{ lote.abueloMaterno }}</span></p>
							</div>
							<div class="arbol-abuelos">
								<p><span class="badge badge-pill">{{ lote.abuelaMaterna }}</span></p>
							</div>
						</div>

						<div class="arbol-nodo1">
							<div class="arbol-bisaabuelos">
								<p><span class="badge badge-pill badge1">{{ lote.bisabueloAbueloPaterno }}</span></p>
							</div>
							<div class="arbol-bisaabuelos">
								<p><span class="badge badge-pill badge1">{{ lote.bisabuelaAbueloPaterno }}</span></p>
							</div>
							<div class="arbol-bisaabuelos">
								<p><span class="badge badge-pill badge1">{{ lote.bisabueloAbuelaPaterna }}</span></p>
							</div>
							<div class="arbol-bisaabuelos">
								<p><span class="badge badge-pill badge1">{{ lote.bisabuelaAbuelaPaterna }}</span></p>
							</div>
							<br />
							<div class="arbol-bisaabuelos">
								<p><span class="badge badge-pill badge1">{{ lote.bisabueloAbueloMaterno }}</span></p>
							</div>
							<div class="arbol-bisaabuelos">
								<p><span class="badge badge-pill badge1">{{ lote.bisabuelaAbueloMaterno }}</span></p>
							</div>
							<div class="arbol-bisaabuelos">
								<p><span class="badge badge-pill badge1">{{ lote.bisabueloAbuelaMaterna }}</span></p>
							</div>
							<div class="arbol-bisaabuelos">
								<p><span class="badge badge-pill badge1">{{ lote.bisabuelaAbuelaMaterna }}</span></p>
							</div>
						</div>
					</div>
					<!--CAJA DE SUBASTA-->
					<div class="card mb-2">
						<div class="card-body">
						   <p>Descripción: </p>
                                                <div [innerHTML]="lote.descripcion"></div>
						<p>Color: {{ lote.color }}</p>
						<p>Sexo: {{ lote.sexo }}</p>
						<p>Fecha de Nacimiento: {{ lote.fechaNacimiento | date: 'yyyy-MM-dd' }}</p>
						<p>No. de Registro: {{ lote.registro }}</p>
						<p>Peso al Nacer: {{ lote.pesoNacer }}</p>
						<p>Peso al Destete: {{ lote.pesoDestete }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
