<div class="back-to-home rounded d-none d-sm-block">
  <a routerLink="/" class="btn btn-icon btn-soft-primary">
    <i-feather name="home" class="icons"></i-feather>
  </a>
</div>

<!-- Hero Start -->
<section class="bg-home bg-circle-gradiant d-flex align-items-center">
  <div class="bg-overlay bg-overlay-white"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <div class="card login_page shadow rounded border-0">
          <img src="https://subastabucket.s3.us-east-2.amazonaws.com/Varios/logo+web+cuarto.png" class="img-login"  alt="">
          <div class="card-body">
            <h4 class="card-title text-center">Regístrate</h4>
            <form class="login-form mt-4" (ngSubmit)="onSubmit()" *ngIf="registroForm" [formGroup]="registroForm">
              <div class="row">
                <div class="col-md-6" *ngFor="let form of formsRegistro">
                  <div class="form-group position-relative" *ngIf="form.seMuestra && !checkIsInFilter(form.nombre)" formGroupName="info">
                    <label>{{ form.label }} <span class="text-danger" *ngIf="form.requerido">*</span></label>
                    <i-feather name="user" class="fea icon-sm icons"></i-feather>
					<input type="text" class="form-control pl-5" [formControlName]="form.nombre" placeholder="{{ form.label }}" name="{{ form.nombre }}" [required]="form.requerido"
					[ngClass]="{ 'is-invalid': fInfo[form.nombre].touched && fInfo[form.nombre].errors, 'is-valid': fInfo[form.nombre].touched && !fInfo[form.nombre].errors }">
					<div *ngIf="fInfo[form.nombre].touched && fInfo[form.nombre].errors" class="invalid-feedback">
						<div *ngIf="fInfo[form.nombre].errors.required">{{ form.label }} es requerido</div>
					</div>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="checkIsInFilter('pais')" formGroupName="info">
                  <div class="form-group position-relative">
                    <label>País <span class="text-danger">*</span></label>
                    <i-feather name="user" class="fea icon-sm icons"></i-feather>
                    <select (change)="loadEstados()" class="form-control pl-5" formControlName="pais" placeholder="País" name="pais" required=""
					[ngClass]="{ 'is-invalid': fInfo.pais.touched && fInfo.pais.errors, 'is-valid': fInfo.pais.touched && !fInfo.pais.errors }">
                      <option [ngValue]="pais.id" *ngFor="let pais of paises">{{ pais.nombre }}</option>
                    </select>
					<div *ngIf="fInfo.pais.touched && fInfo.pais.errors" class="invalid-feedback">
						<div *ngIf="fInfo.pais.errors.required">País es requerido</div>
					</div>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="checkIsInFilter('estado')" formGroupName="info">
                  <div class="form-group position-relative">
                    <label>Estado <span class="text-danger">*</span></label>
                    <i-feather name="user" class="fea icon-sm icons"></i-feather>
                    <select class="form-control pl-5" formControlName="estado" placeholder="Estado" name="estado" required=""
					[ngClass]="{ 'is-invalid': fInfo.estado.touched && fInfo.estado.errors, 'is-valid': fInfo.estado.touched && !fInfo.estado.errors }">
                      <option [ngValue]="estado.id" *ngFor="let estado of estados">{{ estado.nombre }}</option>
                    </select>
					<div *ngIf="fInfo.estado.touched && fInfo.estado.errors" class="invalid-feedback">
						<div *ngIf="fInfo.estado.errors.required">Estado es requerido</div>
					</div>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="checkIsInFilter('ciudad')">
                  <div class="form-group position-relative" formGroupName="info">
                    <label>Ciudad <span class="text-danger">*</span></label>
                    <i-feather name="user" class="fea icon-sm icons"></i-feather>
                    <input type="text" class="form-control pl-5" formControlName="ciudad" placeholder="Ciudad" name="ciudad"
					[ngClass]="{ 'is-invalid': fInfo.ciudad.touched && fInfo.ciudad.errors, 'is-valid': fInfo.ciudad.touched && !fInfo.ciudad.errors }">
					<div *ngIf="fInfo.ciudad.touched && fInfo.ciudad.errors" class="invalid-feedback">
						<div *ngIf="fInfo.ciudad.errors.required">Ciudad es requerido</div>
					</div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Correo Electrónico <span class="text-danger">*</span></label>
                    <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                    <input type="email" class="form-control pl-5" formControlName="email" placeholder="Correo Electrónico" name="email" required=""
					[ngClass]="{ 'is-invalid': f.email.touched && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }">
					<div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
						<div *ngIf="f.email.errors.required">Email es requerido</div>
					</div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Contraseña <span class="text-danger">*</span></label>
                    <i-feather name="key" class="fea icon-sm icons"></i-feather>
                    <input type="password" class="form-control pl-5" formControlName="password" placeholder="Contraseña" required=""
					[ngClass]="{ 'is-invalid': f.password.touched && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }">
					<div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Contraseña es requerido</div>
					</div>
                  </div>
                </div>
                <div class="col-md-12" formArrayName="archivos">
                    <div *ngFor="let child of registroForm.controls.archivos.controls; let i = index">
                        <div class="form-group position-relative" [formGroupName]="i">
                            <label>{{ getNombreArchivo(i) }} <span class="text-danger" *ngIf="getRequeridoArchivo(i)">*</span></label>
                            <input type="file" (change)="handleFile($event, i)" class="form-control-file" id="fileupload{{i}}"
							[ngClass]="{ 'is-invalid': child['controls'].base64.touched && child['controls'].base64.errors, 'is-valid': child['controls'].base64.touched && !child['controls'].base64.errors }">
							<div *ngIf="child['controls'].base64.touched && child['controls'].base64.errors" class="invalid-feedback">
								<div *ngIf="child['controls'].base64.errors.required">Archivo es requerido</div>
							</div>
                        </div>
                    </div>
				</div>
                <div class="col-md-12">
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="terminos" formControlName="terminos" name="terminos"
						[ngClass]="{ 'is-invalid': f.terminos.touched && f.terminos.errors, 'is-valid': f.terminos.touched && !f.terminos.errors }">
						<label class="form-check-label" for="terminos"><a class="pointer" target="_blank" [routerLink]="['/enlace/TERMINOS_CONDICIONES']">Aceptar Términos y Condiciones <span class="text-danger">*</span> </a></label>
						<div *ngIf="f.terminos.touched && f.terminos.errors" class="invalid-feedback">
							<div *ngIf="f.terminos.errors.required">Aceptar Términos y Condiciones es requerido</div>
						</div>
					</div>
				</div>
				<br />
				<br />
                <div class="col-md-12">
					<button [disabled]="loading" class="btn btn-primary btn-block">
						<i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
						Registrarse
					</button>
					<a [routerLink]="['/']" class="btn btn-info btn-block">
						Ver Catálogo   
					</a>
                </div>
                <!-- <div class="col-lg-12 mt-4 text-center">
                  <h6>Or Signup With</h6>
                  <ul class="list-unstyled social-icon mb-0 mt-3">
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="facebook" class="fea icon-sm icons"></i-feather>
                      </a></li>
                    <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="github" class="fea icon-sm icons"></i-feather>
                      </a></li>
                    <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="twitter" class="fea icon-sm icons"></i-feather>
                      </a></li>
                    <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="gitlab" class="fea icon-sm icons"></i-feather>
                      </a></li>
                  </ul>
                </div> -->
                <div class="mx-auto">
                  <p class="mb-0 mt-3"><small class="text-dark mr-2">¿Ya Tienes Cuenta?</small> <a
                      routerLink="/auth-login" class="text-dark font-weight-bold">Entrar</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->
