.footer{
    background-color: #ab0433;
	color: #ffffff;
}

.footer.footer-bar{
    border-top:1px solid black;
}


.social-icon.social li a {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.footer .text-foot {
	color: #ffffff;
}
